body {
  background-color: white;
}
h1 {
  color: blue;
}
p {
  color: red;
}


.jumbotron {
    margin-bottom: 0px;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
	
}